
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h1>Ein Fehler ist aufgetreten, während die Anfrage für die Behandlung.</h1>
</body>
</html>
