
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>eBibliotheque - No Books</title>
</head>
<body>
    <h1>L'autheur "@ViewData["AuthorName"]" n'a pas de publication de livres!</h1>
</body>
</html>
