
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>eBibliotheque - No Author</title>
</head>
<body>
    <h1>Aucun auteur trouvé!</h1>
</body>
</html>
