
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>eBibliotheque - No key</title>
</head>
<body>
    <h1>Aucun mot-clé trouvé pour la recherche!</h1>
</body>
</html>
