@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class=">Welcome to COVID-19 vaccination worldwide statistic</h1>
    <h2>PERCENTAGE OF POPULATION VACCINATED BY COUNTRY</h2>
</div>
