
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Found</title>
</head>
<body>
    <div> 
        Der Kunde @ViewData["Name"] wurde gefunden und ist @ViewData["Age"] Jahre alt.
    </div>
</body>
</html>
