
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Willkommen <span style="color:red">@ViewData["Name"]</span> in View!
    </div>
</body>
</html>
