
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFound</title>
</head>
<body>
    <div style="color:red"> 
        Der Kunde @ViewData["Name"] wurde nicht gefunden !
    </div>
</body>
</html>
