
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>eBibliotheque - Liste livres</title>
</head>
<body>
    <table>
        <caption>Liste de tous les livres</caption>
        <tr>
            <th><u>Titre</u></th>
            <th><u>Auteur</u></th>
        </tr>
        @foreach(eBiB.Models.Book book in ViewData["Books"] as List<eBiB.Models.Book>)
        {
        <tr>
            <th>@book.Title</th>
            <th>@book.AuthorID</th>
        </tr>
        }
    </table>
</body>
</html>
